<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <title>House Party Loyalty Statistics</title>
</head>

<body class="container" style="font-family:'Covered By Your Grace',cursive; font-size:200%;">

    <header>
        <div class="row">
            <h1>
                <a class="col-sm-6 text-left" href="#"><img class="img-circle" src="images/logo.png" alt="logo">TGIF</a>
            </h1>
            <a class="col-sm-6 text-right small" href="mailto:info@tgif.net"><span class="glyphicon glyphicon-envelope"></span>&nbsp;info@tgif.net</a>
        </div>
    </header>

    <br>

    <nav>
        <div>
            <ul class="navbar navbar-default list-inline well well-sm">
                <li><a href="home.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-data.html">Senate</a></li>
                        <li><a href="house-data.html">House</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-attendance.html">Senate</a></li>
                        <li><a href="house-attendance.html">House</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-party-loyalty.html">Senate</a></li>
                        <li><a href="#">House</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="app">

        <div class="row">
            <div class="col-sm-6">
                <h2 style="font-weight:bold">Party Loyalty</h2>
                <p style="text-indent:4%; text-align:justify">Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="row">
                    <h2 class="col-sm-12 text-right" style="font-size:125%;">House at a glance</h2>
                </div>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Party</th>
                            <th scope='col'>N&#176; of Reps</th>
                            <th scope='col'>% Voted w/ Party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Democrats</td>
                            <td>{{number_of_democrats}}</td>
                            <td>{{average_votes_wich_party_pct_for_democrats}}</td>
                        </tr>
                        <tr>
                            <td>Republicans</td>
                            <td>{{number_of_republicans}}</td>
                            <td>{{average_votes_wich_party_pct_for_republicans}}</td>
                        </tr>
                        <tr>
                            <td>Independents</td>
                            <td>{{number_of_independents}}</td>
                            <td>{{average_votes_wich_party_pct_for_independents}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{total_number_of_members}}</td>
                            <td>{{total_average_votes_wich_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <h2 style="font-size:125%;">Least Loyal (Bottom 10% of Party)</h2>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Name</th>
                            <th scope='col'>N&#176; Party Votes</th>
                            <th scope='col'>% Party Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in least_loyal_bottom_ten_percent_of_party">
                            <td><a v-bind:href="value.url">{{value.first_name}} {{value.middle_name}} {{value.last_name}}</a></td>
                            <td>{{Math.round(value.total_votes * value.votes_with_party_pct / 100)}}</td>
                            <td>{{value.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2 style="font-size:125%;">Most Loyal (Top 10% of Party)</h2>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Name</th>
                            <th scope='col'>N&#176; Party Votes</th>
                            <th scope='col'>% Party Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in most_loyal_top_ten_percent_of_party">
                            <td><a v-bind:href="value.url">{{value.first_name}} {{value.middle_name}} {{value.last_name}}</a></td>
                            <td>{{Math.round(value.total_votes * value.votes_with_party_pct / 100)}}</td>
                            <td>{{value.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <br>
    <br>

    <footer>
        <p class="well text-center" style="font-size:110%;">© 2016 TGIF | All Rights Reserved</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <div id="ajax"></div>
    <script src="ajax-congress-113-house.js"></script>
    <script>
        function importScripts() {
            importScript("statistics-calculations.js");
            importScript("statistics.js");
        }
    </script>
    <script src="ajax-request.js"></script>

</body>

</html>