<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <title>House Attendance Statistics</title>
</head>

<body class="container" style="font-family:'Covered By Your Grace',cursive; font-size:200%;">

    <header>
        <div class="row">
            <h1>
                <a class="col-sm-6 text-left" href="#"><img class="img-circle" src="images/logo.png" alt="logo">TGIF</a>
            </h1>
            <a class="col-sm-6 text-right small" href="mailto:info@tgif.net"><span class="glyphicon glyphicon-envelope"></span>&nbsp;info@tgif.net</a>
        </div>
    </header>

    <br>

    <nav>
        <div>
            <ul class="navbar navbar-default list-inline well well-sm">
                <li><a href="home.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-data.html">Senate</a></li>
                        <li><a href="house-data.html">House</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-attendance.html">Senate</a></li>
                        <li><a href="#">House</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-party-loyalty.html">Senate</a></li>
                        <li><a href="house-party-loyalty.html">House</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="app">

        <div class="row">
            <div class="col-sm-6">
                <h2 style="font-weight:bold">Attendance</h2>
                <div style="text-indent:4%; text-align:justify">
                    <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue
                        even if a majority is not present.</p>
                    <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call
                        of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                </div>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="row">
                    <h2 class="col-sm-12 text-right" style="font-size:125%;">House at a glance</h2>
                </div>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Party</th>
                            <th scope='col'>N&#176; of Reps</th>
                            <th scope='col'>% Voted w/ Party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Democrats</td>
                            <td>{{number_of_democrats}}</td>
                            <td>{{average_votes_wich_party_pct_for_democrats}}</td>
                        </tr>
                        <tr>
                            <td>Republicans</td>
                            <td>{{number_of_republicans}}</td>
                            <td>{{average_votes_wich_party_pct_for_republicans}}</td>
                        </tr>
                        <tr>
                            <td>Independents</td>
                            <td>{{number_of_independents}}</td>
                            <td>{{average_votes_wich_party_pct_for_independents}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{total_number_of_members}}</td>
                            <td>{{total_average_votes_wich_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <h2 style="font-size:125%;">Least Engaged (Bottom 10% Attendance)</h2>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Name</th>
                            <th scope='col'>N&#176; Missed Votes</th>
                            <th scope='col'>% Missed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in least_engaged_bottom_ten_percent_attendance">
                            <td><a v-bind:href="value.url">{{value.first_name}} {{value.middle_name}} {{value.last_name}}</a></td>
                            <td>{{value.missed_votes}}</td>
                            <td>{{value.missed_votes_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2 style="font-size:125%;">Most Engaged (Top 10% Attendance)</h2>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope='col'>Name</th>
                            <th scope='col'>N&#176; Missed Votes</th>
                            <th scope='col'>% Missed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in most_engaged_top_ten_percent_attendance">
                            <td><a v-bind:href="value.url">{{value.first_name}} {{value.middle_name}} {{value.last_name}}</a></td>
                            <td>{{value.missed_votes}}</td>
                            <td>{{value.missed_votes_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>

    <footer>
        <p class="well text-center" style="font-size:110%;">© 2016 TGIF | All Rights Reserved</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="pro-congress-113-house.js"></script>
    <script src="statistics-calculations.js"></script>
    <script src="statistics.js"></script>

</body>

</html>